body {
  background: whitesmoke;
  font-family: 'Gafata', sans-serif;
}
#templates {
  display:none;
}
.main-container {
  margin: 0 115 0 115px;
}
.navbar {
  background: #0065a7;
}
.navbar-brand {
  padding: 0px;
}
.navbar-nav .active a {
  background-color: #3f8bbd;
}
.navbar-nav li a:hover {
  background-color: #3f8bbd;
}
.navbar-nav a {
  color: white;
  background-color: #0065a7;
}
.navbar-nav ul a.year {
  background-color: white;
}
.logo {
  width: auto;
  height: 50px;
  margin: 0 5 0 0px;
}
.summary {
  border-bottom: solid;
  border-width: 1px;
}
.knocked-out-details {
  opacity: .3;
}
.knocked-out-logos {
  opacity: .15;
}
.update-time {
  float: right;
}
.player {
  padding-top: 0.9%;
  font-size: 1.8em;
  height: 60px;
}
.total {
  padding-top: 0.9%;
  font-size: 1.8em;
  height: 60px;
}
.header {
  font-size: 1.8em;
  padding-top: 20px;
}
.team {
  padding-top: 3px;
}
.team-logo-summary {
  height:48px; /* you can use % */
  width: auto;
  margin-top: 5px;
}
.team-logo {
  height:48px; /* you can use % */
  width: auto;
  margin-top: 5px;
}
.hidden {
  display: none !important;
}
.logos {
  margin-left: .5% !important;
  cursor: pointer;
}
.logos img {
  margin-right: 2%;
}
.details {
  margin-left: .5% !important;
  cursor: pointer;
}
.expander {
  font-size: .75em;
  cursor: pointer;
  width: 2% !important;
  padding-top: 1.3%;
}
.plaque {
  background-color: #015eb0;
  color: white;
}
.winner {
  font-size: 2em;
  width: 70%;
  margin-left: 15%;
}
.runner-up {
  font-size: 3em;
  width: 60%;
  margin-left: 20%;
}
.third-place {
  font-size: 2em;
  width: 50%;
  margin-left: 25%;
}
.remainder {
  font-size: 1.5em;
  width: 40%;
  margin-left: 30%;
}
.player-row {
  padding-top: 10px;
}
.place {
  text-align: right;
}
.points {
  text-align: right;
}
.hof-header {
  font-size:3em;
}
.form-control {
  width: 300px;
}
.team-row0 {
  padding: 0 0 5 0px;
}
.team-row1 {
  padding: 5 0 0 0px;
}
.teams-panel {
  height: 75px;
}
.panel-body {
  padding: 10px;
}
.log-in-advice {
  font-size: .85em;
  width: 60%;
}
