body {
  background: whitesmoke;
  font-family: 'Gafata', sans-serif;
}
.topper {
  display: block;
  background: #0065a7;
  color: whitesmoke;
  font-weight: bold;
  text-align: center;
  font-size: 2.5em;
  vertical-align: bottom;
  padding-bottom: 3px;
}
.logo {
  width:64px; /* you can use % */
  height: auto;
}
.summary {
  border-bottom: solid;
  border-width: 1px;
}
.knocked-out-details {
  opacity: .3;
}
.knocked-out-logos {
  opacity: .15;
}
.update-time {
  float: right;
}
.player {
  padding-top: 0.9%;
  font-size: 1.8em;
  height: 60px;
}
.total {
  padding-top: 0.9%;
  font-size: 1.8em;
  height: 60px;
}
.header {
  font-size: 1.8em;
  padding-top: 20px;
}
.team {
  padding-top: 3px;
}
.team-logo {
  height:48px; /* you can use % */
  width: auto;
  margin-top: 5px;
}
.hidden {
  display: none !important;
}
.logos {
  margin-left: .5% !important;
  cursor: pointer;
}
.logos img {
  margin-right: 2%;
}
.details {
  margin-left: .5% !important;
  cursor: pointer;
}
.expander {
  font-size: .75em;
  cursor: pointer;
  width: 2% !important;
  padding-top: 1.3%;
}
